# Vivado Project Files
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.runs/
*.gen/
.Xil/
*.xpr.lock
*.out/

# Vivado Log & Journal Files
*.log
*.jou
*.str
*.pb

# OS/IDE Temporary Files
.DS_Store
Thumbs.db
.vscode/

# Python scripts generated data (본인 프로젝트 맞춤)
imem.coe